body {
  margin: 0;
  padding: 128px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #828282;
  font-size: 24px;
  line-height: 30px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
}

*, *:before, *:after {
  box-sizing: border-box;
}
