:root {
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 48px;
}

@media (max-width: 720px) {
  :root {
    --space-s: 4px;
    --space-m: 8px;
    --space-l: 16px;
    --space-xl: 32px;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cousine', monospace;
  color: var(--bodyColor);
  background-color: var(--bodyBg);
  font-size: 14px;
  line-height: 20px;
  height: 100%;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
}

*, *:before, *:after {
  box-sizing: border-box;
}
